.App {
  text-align: center;
}

.Calculator, .ActionButton, .NumberButton{
  border:2px  solid red;
  margin-right: auto;
  margin-left: auto;
  max-width: 60%;
}

.Calculator{
  margin-top: 150px;
  margin-bottom: 150px;
}