.App {
  text-align: center;
}

.Calculator{
  margin-right: auto;
  margin-left: auto;
  width:400px;
  margin-top: 100px;
}
.ActionButton, .NumberButton{
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px  solid grey;
  font-size:50px;
  width:100%;
  outline: 1px;
}

.ActionButton{
  background-color: #d8e70c
}

.NumberButton{
  background-color: #eff5f2
}

.NumberButton
.Calculator{
  margin-top: 150px;
  margin-bottom: 150px;
}

.mainPart{
  display: flex;
  flex-direction: column;
}

.row40{
  display: flex;
  height: 40%;
}

.row20{
  display: flex;
 height:20%;

}

.col75{
  display: flex;
  flex-wrap: wrap;
  width:75%;
}

.col50{
  display: flex;
  width:50%;

}

.col33{
  display: flex;
  width:33.33333333%;

}

.col25{
  display: flex;
  width:25%;

}

